/*
        ---Critical Css---
        1. Header
        2. Single Above The Fold
        3. Sidebar
*/

:root {
    --main-bg-color: #f0f4f8;
    --content-bg-color: #fff;
    --site-header-bg-color: #fff;
    
    --menu-items-color: #0d0e0e;
    --menu-hover-color: #fb7304;
    --menu-item-bg-clr: #0000ffbb;
    --mobile-menu-btn-clr: #000;
    --submenu-bg-color: #fdffff;

    --text-color: #1E1E1E;
    --body-font-size: 16px;
    --mobile-font-size: 18px;
    --desktop-font-size: 20px;
    --font-family: "Open Sans", "Segeo UI", Roboto, Tahoma, Verdana, Arial;
    --heading-font-family: "Open Sans", "Segeo UI", Tahoma, Arial;
    --heading-font-color: #1D1F25;
    --color-cyan: #1ad2df;
    --footer-bg-color: #1b1b1b;
    --footer-text-color: #ececec;
    --link-color: #143ceee4;
    --link-visited: #175cddf5;
    --link-hover: #f75a0c;
    --single-post-title-size: 50px;
    --mobile-h1-size: 30px;
    --light-border: #f2f2f2;
    --light-grey: #dfdddd;
    --toc-bg-color: #fafcff;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: var(--body-font-size);
    color: var(--text-color);
    line-height: 1.6;
    background-color: var(--main-bg-color);
    max-width: 1280px;
}

/* Links
--------------------------------------------- */
a:link {
    color: var(--link-color);
    text-decoration: none;
}

a:visited {
    color: var(--link-visited);
}

a:hover {
    color: var(--link-hover);
}

a:focus {
    outline: 1px solid var(--link-hover);
}
a:hover,
a:active {
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font-family);
    line-height: 1.3;
    color: var(--heading-font-color);
    padding: 0;
}

/* 
    ------------ Header css --------------- 
*/

/*     Moblie Menu CSS */
.before-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 1rem;
    background-color: var(--content-bg-color);
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    background-color: var(--site-header-bg-color);
    border-radius: 00.5rem;
}
.site-header .site-logo {
    min-width: 150px;
    min-height: 50px;
}
.site-logo img {
    max-width: 140px;
    max-height: 50px;
    object-fit: fill;
}

#site-nav {
    display: none;
}

.site-navigation > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 3rem 0.4rem 1rem 1rem;
    border-radius: 1rem;
    background-color: var(--site-header-bg-color);
    position: absolute;
    top: 1rem;
    right: 8px;
    width: 90vw;
    min-height: 85vh;
    z-index: 3;
    box-shadow: 2px 3px 4px 0 #d1cfcfed, -3px -3px 3px 0 #d8d8d8;
}
.site-navigation > ul li {
    width: 100%;
    margin: 0.8rem 0;
    padding-inline: 0.5rem;
}
.site-navigation .menu-item-has-children {
    position: relative;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 00.4rem;
}
.menu-item-has-children .sub-menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 00.2rem;
    padding: 0;
    margin: 0;
    opacity: 0.7;
}
.sub-menu-toggle:hover,
.sub-menu-toggle:focus-within {
    opacity: 1;
}

.sub-menu-toggle svg {
    stroke: var(--menu-items-color);
    stroke-width: 2px;
}
.sub-menu-toggle svg:hover {
    position: relative;
    transform: scale(1.2);
}

.site-navigation .menu-links {
    color: var(--menu-items-color);
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.3;
    text-decoration: none;
}

.site-navigation .menu-links:hover {
    color: var(--menu-hover-color);
}

.sub-menu {
    list-style-type: none;
}
.site-navigation .sub-menu {
    position: relative;
    top: 0.5rem;
    left: 0;
    right: 0;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.3rem;
    background-color: var(--submenu-bg-color);
    z-index: 1;
    border-left: 2px solid var(--color-cyan);
    display: none;
}

.site-navigation .sub-menu .sub-menu {
    background-color: var(--submenu-bg-color);
    position: relative;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-left: 2px solid var(--color-cyan);
    display: none;
}

.site-navigation .menu-item-has-children:hover > .sub-menu,
.site-navigation .menu-item-has-children:focus-within > .sub-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}
.show-submenu {
    display: block !important;
}
.menu-button {
    background-color: transparent;
    z-index: 11;
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    place-items: center;
    border: none;
}
.menu-button svg {
    width: 2rem;
    height: 2rem;
}
.menu-button svg > #svg-id {
    stroke: var(--mobile-menu-btn-clr);
}
.menu-button:hover {
    cursor: pointer;
}
.menu-button:hover svg > #svg-id {
    stroke: var(--link-color);
}

#hamburger-menu {
    display: block;
}
#hamburger-close {
    display: none;
    position: absolute;
    top: 1.6rem;
    right: 1.4rem;
}
/* Desktop Menu  Css End*/

@media (min-width: 768px) {
    .site-header {
        position: relative;
        max-width: 100%;
        margin: 1rem;
        margin-bottom: 0;
        border-radius: 0.5rem;
        z-index: 9;
    }
    #site-nav {
        display: block !important;
    }

    .site-navigation > ul {
        position: static;
        width: 100%;
        min-height: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        background-color: inherit;
        padding: 0;
        box-shadow: none;
    }
    .site-navigation > ul li {
        width: auto;
        padding: 0;
        margin: 0;
        margin-right: 0.1rem;
        border-radius: 0.4rem;
        transition: all 0.2s ease-in-out;
    }

    .site-navigation .menu-links {
        display: inline-block;
        width: auto;
        font-size: 0.96rem;
        text-transform: capitalize;
        padding: 0.3rem 0.4rem;
        border-radius: 0.4rem;
        color: var(--menu-items-color);
    }
    .site-navigation .menu-links:hover {
        color: var(--menu-hover-color);
    }

    .menu-button {
        display: none;
    }
    .site-navigation > ul > .menu-item-has-children::after {
        content: "";
        position: absolute;
        display: block;
        top: 95%;
        right: 0;
        width: 100%;
        height: 1rem;
    }
    .site-navigation .sub-menu {
        margin: 0;
        padding: 0.4rem 0;
        position: absolute;
        top: calc(85% + 1rem);
        left: auto;
        right: 0;
        min-width: 200px;
        border: none;
        border-top: 2px solid var(--link-color);
        box-shadow: 4px 4px 1rem 0 #adadad86, -2px -4px 1rem 0 #8f8f8f88;
        border-radius: 0.4rem;
        z-index: 9;
        opacity: 0;
    }
    .site-navigation .sub-menu li {
        padding: 0;
        margin-bottom: 0.8rem;
        border-bottom: 1px solid var(--light-border);
    }

    .site-navigation .sub-menu .menu-links {
        display: block;
        width: 100%;
        padding: 0.4rem;
        padding-left: 1rem;
        font-size: 0.95rem;
        color: var(--menu-items-color);
        transition: all 0.2s ease-in;
    }
    .site-navigation .sub-menu .menu-links:hover {
        color: var(--menu-hover-color);
    }

    .site-navigation .sub-menu .sub-menu {
        position: absolute;
        margin: 0;
        padding: 0.3rem 0;
        top: -1rem;
        right: 97%;
        min-width: 200px;
        border: none;
        border-top: 2px solid var(--link-color);
        outline: 1px solid var(--light-border);
        box-shadow: 3px 3px 1rem 0 rgba(197, 197, 197, 0.8),
            -3px -3px 1rem 0 #cacacad3;
        border-radius: 0.5rem;
        z-index: 19;
    }
} /*   Destop header menu end  */

/*   
            Site layout Desktop Start  
*/

@media (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: minmax(300px, 1fr) 25%;
        gap: 0.5rem;
    }
}
/*  End Site layout Desktop   */

/* 
---------  Mobile Single Post  -----------
*/
.single-post-section {
    margin: 0.7rem 0;
    background-color: var(--content-bg-color);
    border-radius: 0.5rem;
    padding-bottom: 1rem;
}
.single-post-content {
}

/* Single Post Breadcumb */
.breadcrumb {
    padding: 0.5rem;
    border-bottom: 1px solid var(--light-border);
}
.breadcrumb * {
    font-size: 12px;
    line-height: 1.3;
}
.breadcrumb ul {
    list-style: none;
}
.breadcrumb ul li a,
.breadcrumb a {
    text-decoration: none;
}

/* Single Post Header   */
.single-post-header {
    border-bottom: 1px solid var(--light-border);
    margin: 1rem 0;
}
.single-post-title {
    font-size: var(--mobile-h1-size);
    padding: 0.5rem;
    margin: 1rem 0;
}

.single-post-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    margin: 1rem 0;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--light-border);
}
.single-post-meta span {
    font-size: 12px;
    padding: 0.5rem;
    line-height: 1.3;
}
.single-post-meta * a {
    text-transform: capitalize;
}

.single-post-thumbnail {
    margin: 1rem;
    min-height: 168px;
}
.single-post-thumbnail img {
    display: block;
    margin-inline: auto;
    max-width: 100%;
    height: auto;
    aspect-ratio: auto;
    border-radius: 00.5rem;
}
.single-post-body {
    padding: 1rem 0.6rem;
    font-size: var(--mobile-font-size);
    font-weight: 400;
    line-height: 1.6;
    word-spacing: 3px;
    overflow-wrap: break-word;
}

/* Desktop single Post  */

@media (min-width: 768px) {
    .single-post-section {
        margin: 1rem;
    }
    .single-post-header {
        margin: 1rem;
        border-bottom: 1px solid var(--light-border);
    }
    .single-post-title {
        font-size: var(--single-post-title-size);
        padding: 2rem 1rem;
        /* text-align: center; */
    }

    .single-post-meta {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        border-bottom: 1px solid var(--light-border);
        margin-bottom: 2rem;
    }
    .single-post-meta span {
        font-size: 13px;
        padding: 0.5rem;
    }
    .single-post-meta * a {
        text-transform: capitalize;
    }

    .single-post-thumbnail {
        margin: 1.5rem 0;
        min-height: 400px;
    }

    .single-post-body {
        padding: 1rem 2rem;
        font-size: var(--desktop-font-size);
    }
    /* ----Sidebar--Desktop--- */

}

/*  
    -------- Sidebar -------------
*/

.sidebar-right {
    padding: 0;
    margin: 0.5rem;
}
@media (min-width: 768px ) {
    .sidebar-right {
        padding: 0;
        margin: 1rem 1rem 0.5rem 0;
    }
}
.sidebar-right ul {
    list-style: none;
}
.sidebar-right ul a {
    text-decoration: none;
}

/*    
       widgets        
*/

.sidebar-right .widget {
    padding: 0.4rem 0.3rem 0.4rem 0.7rem;
    margin-bottom: 1rem;
    background: var(--content-bg-color);
    box-shadow: -3px -3px 3px 0 #f4f4f4da, 3px 3px 3px 0 #f1f1f1fd;
    border-radius: 0.5rem;
}

.sidebar-right .widget-title {
    display: inline-block;
    margin-left: 0.3rem;
    padding: 0 4px;
    margin-bottom: 1.3rem;
    border-bottom: 2px solid var(--light-border);
    font-weight: normal;
}

.sidebar-right .widget ul li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}
.sidebar-right .widget_recent_entries li::before {
    content: "";
    border-left: 3px solid var(--color-cyan);
    padding-right: 10px;
}
.sidebar-right .widget_recent_entries ul li {
    margin-bottom: 1rem;
}
.sidebar-right .widget:last-child {
    position: sticky;
    top: 4rem;
    margin-bottom: 1rem;
}

/* Search Box */
.search-form {
    display: flex;
    padding: 0.3rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.search-form .search-field {
    font-size: 14px;
    padding-left: 0.4rem;
    color: #000;
    border: none;
    border: 1px solid var(--light-border);
    outline: none;
    height: 2rem;
    background-color: var(--main-bg-color);
    border-radius: 0.4rem;
}
.search-form .search-field::placeholder {
    color: #555555;
}
.search-field:focus {
    border: 1px solid var(--light-border);
}
.search-btn {
    height: 2rem;
    width: 2rem;
    display: flex;
    place-items: center;
    padding: 4px 5px;
    margin-left: 0.3rem;
    position: relative;
    border: none;
    background-color: var(--main-bg-color);
    border-radius: 0.4rem;
    cursor: pointer;
}
.search-btn .search-icon {
    width: 1.2rem;
    height: 1.2rem;
    fill: var(--text-color);
    opacity: 0.6;
}
.search-form .search-submit {
    text-indent: -99px;
    pointer-events: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    z-index: 3;
    background-color: transparent;
}
.search-btn .search-icon:hover {
    opacity: 1;
}

